/* Presentation */

.description {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 30px 5%;
}

.presentation {
  box-sizing: border-box;
  padding-top: 30px;
}


/* Responsive for the presentation */

@media (min-width: 993px) {
  .section-image {
    padding: 2% 5%;
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .section-image {
    padding: 7% 5%;
  }
}

@media (max-width: 600px) {
  .section-image {
    padding: 0 5%;
  }
}
