/* General aparience configuration */
html, body {
  font-family: 'Merriweather Sans', sans-serif !important;
}


/* Fonts */

.t-titles {
  font-family: 'Merriweather Sans', sans-serif !important;
}

.t-buttons {
  font-family: 'Signika', sans-serif !important;
}

.t-text {
  font-family: 'Hind', sans-serif !important;
}
